
body{
   text-align: center;
   margin: 0 15%;
   width: 75%;
   border: 2px solid blue;
}

header{
      background-color: lightblue;
      margin-top: 20px;
      padding: 0;
}

h2{
   font-style: Italic;
}

.commercial{
     font-family: monospace;
     font-size: 15;
}

video{
     display: block;
     margin: 20px auto;
     text-align: center;

}
}
